<div class="full-width">
  <app-buttons-panel></app-buttons-panel>
  <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading | async"></mat-progress-spinner>
  <div ngClass="{{listDisplay}} data">
    <ng-container *ngIf="listDisplay=='kafelki'">
      <app-video-box *ngFor="let video of displayedVideos" [video]="video" class="videoBox">
      </app-video-box>
    </ng-container>
    <ng-container *ngIf="listDisplay=='lista'">
      <app-video-box-list *ngFor="let video of displayedVideos" [video]="video" class="videoBox"></app-video-box-list>
    </ng-container>
  </div>
  <app-pagination (pageEvent)="getPageVideos($event)"></app-pagination>
</div>
